<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">

        <title>Shassaro - Hack your friends</title>
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">

        <!--&lt;!&ndash;Vnc&ndash;&gt;-->
        <!--<link rel="stylesheet" href="novnc/include/base.css"/>-->

        <!-- Icons -->
        <link rel="apple-touch-icon-precomposed" sizes="57x57" href="img/favicon/apple-touch-icon-57x57.png" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png" />
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png" />
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/favicon/apple-touch-icon-144x144.png" />
        <link rel="apple-touch-icon-precomposed" sizes="60x60" href="img/favicon/apple-touch-icon-60x60.png" />
        <link rel="apple-touch-icon-precomposed" sizes="120x120" href="img/favicon/apple-touch-icon-120x120.png" />
        <link rel="apple-touch-icon-precomposed" sizes="76x76" href="img/favicon/apple-touch-icon-76x76.png" />
        <link rel="apple-touch-icon-precomposed" sizes="152x152" href="img/favicon/apple-touch-icon-152x152.png" />
        <link rel="icon" type="image/png" href="img/favicon/favicon-196x196.png" sizes="196x196" />
        <link rel="icon" type="image/png" href="img/favicon/favicon-96x96.png" sizes="96x96" />
        <link rel="icon" type="image/png" href="img/favicon/favicon-32x32.png" sizes="32x32" />
        <link rel="icon" type="image/png" href="img/favicon/favicon-16x16.png" sizes="16x16" />
        <link rel="icon" type="image/png" href="img/favicon/favicon-128.png" sizes="128x128" />
        <meta name="application-name" content="&nbsp;"/>
        <meta name="msapplication-TileColor" content="#FFFFFF" />
        <meta name="msapplication-TileImage" content="img/favicon/mstile-144x144.png" />
        <meta name="msapplication-square70x70logo" content="img/favicon/mstile-70x70.png" />
        <meta name="msapplication-square150x150logo" content="img/favicon/mstile-150x150.png" />
        <meta name="msapplication-wide310x150logo" content="img/favicon/mstile-310x150.png" />
        <meta name="msapplication-square310x310logo" content="img/favicon/mstile-310x310.png" />

        <!-- END Icons -->

        <!-- Stylesheets -->
        <!-- Bootstrap is included in its original form, unaltered -->
        <!--<link rel="stylesheet" href="bower_components/angular-bootstrap/"/>-->
        <!--<link rel="stylesheet" href="bower_components/angular-timer/dist/assets/css/angular-timer-bower.css"/>-->
        <link rel="stylesheet" href="css/bootstrap.css">

        <!-- Related styles of various icon packs and plugins -->
        <link rel="stylesheet" href="css/plugins.css">

        <!-- The main stylesheet of this template. All Bootstrap overwrites are defined in here -->
        <link rel="stylesheet" href="css/main.css">

        <!-- Include a specific file here from css/themes/ folder to alter the default theme of the template -->

        <!-- The themes stylesheet of this template (for using specific theme color in individual elements - must included last) -->
        <link rel="stylesheet" href="css/themes.css">
        <!-- END Stylesheets -->


        <!-- Modernizr (browser feature detection library) & Respond.js (Enable responsive CSS code on browsers that don't support it, eg IE8) -->
        <script src="js/vendor/modernizr-2.7.1-respond-1.4.2.min.js"></script>
    </head>
    <body ng-app="ShassaroApp" class="page-loading" ng-controller="ApplicationController">
        <!-- Preloader -->
        <!-- Preloader functionality (initialized in js/app.js) - pageLoading() -->
        <!-- Used only if page preloader is enabled from inc/config (PHP version) or the class 'page-loading' is added in body element (HTML version) -->
        <div class="preloader" style="background-color: currentColor;">
            <h1 class="push-top-bottom text-light text-center">
                <img src="img/logos/logo_shassaro_no_slogan_transparent.png" width="400" alt=""/>
            </h1>
            <div class="inner">
                <div class="preloader-spinner hidden-lt-ie9 hidden-lt-ie10"></div>
            </div>
        </div>
        <!-- END Preloader -->

        <!-- Page Container -->
        <div id="page-container" class="sidebar-partial sidebar-visible-lg sidebar-no-animations">
            <!-- Main Sidebar -->
            <div id="sidebar">
                <!-- Wrapper for scrolling functionality -->
                <div class="sidebar-scroll">
                    <!-- Sidebar Content -->
                    <div class="sidebar-content">
                        <!-- Brand -->
                        <!-- -->
                        <a href="index.html" class="sidebar-brand" style="background-color: #f9fafc;">
                            <img src="img/logos/logo_shassaro_no_slogan_transparent.png" alt="ShassAro" width="175"/>
                        </a>
                        <!-- END Brand -->

                        <!-- User Info -->
                        <div class="sidebar-section clearfix" ng-controller="AuthenticationController">
                            <div ng-switch="currentUser!=null">
                                <div class="sidebar-user" ng-switch-when="true">
                                    <div class="sidebar-user-avatar">
                                        <img gravatar-src-once="currentUser.email">
                                    </div>
                                    <h4>{{currentUser.first_name}} {{currentUser.last_name}}</h4>
                                    <br/>
                                    <button class="btn btn-xs btn-warning" ng-click="logout()"><span class="gi gi-log_out"></span> Logout</button>
                                </div>
                                <div ng-switch-default="" class="small text-center">

                                    <p>Login to hack your friends!
                                    <button class="btn btn-info" ng-click="openLoginModal()"><span class="gi gi-log_in"></span> Login</button></p>

                                    <span class="text-muted">
                                    Not yet registered? Now is the time!</span><br/>
                                    <button class="btn btn-xs btn-primary" ng-click="openRegisterModal()"><span class="gi gi-registration_mark"></span> Register</button>
                                </div>
                            </div>
                        </div>
                        <!-- END User Info -->

                        <!-- Sidebar Navigation -->
                        <ul class="sidebar-nav" ng-controller="NavbarController">
                            <li>
                                <a href="#/" class=" active"><i class="gi gi-home sidebar-nav-icon"></i>Home</a>
                            </li>
                            <li ng-if="currentUser">
                                <a href="#/dashboard" class=" active"><i class="gi gi-stopwatch sidebar-nav-icon"></i>Dashboard</a>
                            </li>
                            <li class="sidebar-header">
                                <span class="sidebar-header-options clearfix">
                                    <a href="javascript:void(0)"
                                                                          data-toggle="tooltip"
                                                                          title="Explore your options to Hack your friends!"><i
                                        class="gi gi-lightbulb"></i></a></span>
                                <span class="sidebar-header-title">Get Started</span>
                            </li>
                            <li ng-if="currentUser">
                                <a href="#/challenge" ><i class="gi gi-star sidebar-nav-icon"></i>Challenge</a>
                            </li>
                            <li>
                                <a href="#/aboutShassaro"><i class="gi gi-book sidebar-nav-icon"></i>About ShassAro</a>
                            </li>
                            <li>
                                <a href="#/aboutUs"><i class="gi gi-send sidebar-nav-icon"></i>About Us</a>
                            </li>
                        </ul>
                        <!-- END Sidebar Navigation -->
                    </div>
                    <!-- END Sidebar Content -->
                </div>
                <!-- END Wrapper for scrolling functionality -->
            </div>
            <!-- END Main Sidebar -->

            <!-- Main Container -->
            <div id="main-container">
                <!-- Header -->
                <!-- In the PHP version you can set the following options from inc/config file -->
                <!--
                    Available header.navbar classes:

                    'navbar-default'            for the default light header
                    'navbar-inverse'            for an alternative dark header

                    'navbar-fixed-top'          for a top fixed header (fixed sidebars with scroll will be auto initialized, functionality can be found in js/app.js - handleSidebar())
                        'header-fixed-top'      has to be added on #page-container only if the class 'navbar-fixed-top' was added

                    'navbar-fixed-bottom'       for a bottom fixed header (fixed sidebars with scroll will be auto initialized, functionality can be found in js/app.js - handleSidebar()))
                        'header-fixed-bottom'   has to be added on #page-container only if the class 'navbar-fixed-bottom' was added
                -->
                <header class="navbar navbar-default">
                    <!-- Left Header Navigation -->
                    <ul class="nav navbar-nav-custom">
                        <!-- Main Sidebar Toggle Button -->
                        <li>
                            <a href="javascript:void(0)" onclick="App.sidebar('toggle-sidebar');">
                                <i class="fa fa-bars fa-fw"></i>
                            </a>
                        </li>
                        <!-- END Main Sidebar Toggle Button -->

                        <!-- Template Options -->
                        <!-- Change Options functionality can be found in js/app.js - templateOptions() -->
                        <!-- END Template Options -->
                    </ul>
                    <!-- END Left Header Navigation -->
                </header>
                <!-- END Header -->

                <!-- Page content -->

                <div id="page-content">
                    <div ng-view class="container-fluid animation-fadeInRight"></div>
                </div>
                <!-- END Page Content -->

                <!-- Footer -->
                <footer class="clearfix">
                    <div class="pull-right">
                        Crafted with <i class="fa fa-heart text-danger"></i> by <a href="#/aboutUs">ShassAro Team</a>
                    </div>
                    <div class="pull-left">
                        <span id="year-copy"></span> &copy; <a href="#" target="_blank">ShassAro 1.0</a>
                    </div>
                </footer>
                <!-- END Footer -->
            </div>
            <!-- END Main Container -->
        </div>
        <!-- END Page Container -->

        <!-- Scroll to top link, initialized in js/app.js - scrollToTop() -->
        <a href="#" id="to-top"><i class="fa fa-angle-double-up"></i></a>

        <!--<div login-dialog ng-if="false"></div>-->

        <!-- Include Jquery library from Google's CDN but if something goes wrong get Jquery from local file (Remove 'http:' if you have SSL) -->
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script>!window.jQuery && document.write(decodeURI('%3Cscript src="js/vendor/jquery-1.11.1.min.js"%3E%3C/script%3E'));</script>

        <!--Angular-->

        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="bower_components/angular-no-vnc/dist/angular-noVNC.js"></script>
        <script src="bower_components/angular-websocket/angular-websocket.js"></script>
        <script src="bower_components/angular-gravatar/build/angular-gravatar.js"></script>
        <script src="bower_components/angular-cookies/angular-cookies.js"></script>

        <script src="bower_components/momentjs/min/moment-with-locales.js"></script>
        <script src="bower_components/humanize-duration/humanize-duration.js"></script>
        <script src="bower_components/angular-timer/dist/angular-timer.js"></script>


        <!-- Bootstrap.js, Jquery plugins and Custom JS code -->
        <script src="js/vendor/bootstrap.min.js"></script>
        <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>

        <script src="js/plugins.js"></script>
        <script src="js/app.js"></script>


        <!--Shassaro-->
        <script src="ShassaroApp.js"></script>
        <script src="services/AuthenticationService.js"></script>
        <script src="services/AuthenticationInterceptor.js"></script>
        <script src="services/AuthenticationResolver.js"></script>
        <script src="services/Session.js"></script>
        <script src="services/Users.js"></script>
        <script src="services/Tags.js"></script>
        <script src="services/GameRequests.js"></script>
        <script src="services/ActiveGames.js"></script>
        <script src="services/Quotes.js"></script>
        <script src="services/GameResults.js"></script>
        <script src="constants/AUTH_EVENTS.js"></script>
        <!--<script src="constants/SETTINGS.js"></script>-->

        <script src="controllers/ApplicationController.js"></script>
        <script src="controllers/NavbarController.js"></script>
        <script src="controllers/AuthenticationController.js"></script>
        <script src="controllers/RegisterController.js"></script>
        <script src="controllers/LoginController.js"></script>
        <script src="controllers/ChallengeController.js"></script>
        <script src="controllers/GameRequestController.js"></script>
        <script src="controllers/GameController.js"></script>
        <script src="controllers/GameResultController.js"></script>
        <script src="controllers/DashboardController.js"></script>

        <script type="application/javascript">

            Date.prototype.addMinutes = function (minutes) {
                var copiedDate = new Date(this.getTime());
                return new Date(copiedDate.getTime() + minutes * 60000);
            };

            ShassaroApp.controller('TimerController', function ($scope) {
                $scope.startTime = new Date().addMinutes(-14);
                $scope.durationInMinuts = 20;
                $scope.endTime = $scope.startTime.addMinutes($scope.durationInMinuts);

                $scope.startTime = $scope.startTime.getTime();
                $scope.endTime = $scope.endTime.getTime();
            });

        </script>
    </body>
</html>