

<div class="block col-md-8">
    <div class="block-title"> <h2><strong>Assaf</strong> Aloni</h2> </div>

        <div class="col-md-8">
            Top secret developer badass at IDF. <br>
            Assaf would prefer playing the guitar over playing cards with yoda every day. <br>
            He denies any involvement with ShassAro's web interface. <br>
            <br>
            Supported functions: <br>
            - Smoke() <br>
            - DrawOnBoard() <br>
        </div>
        <div class="col-md-2">
            <img class="img-resize" src="img/assaf.jpg">
        </div>
</div>

<div class="block col-md-8">
    <div class="block-title"> <h2><strong>Roi</strong> Rav-Hon</h2> </div>
    <div class="col-md-3">
        <img class="img-resize" src="img/roi.png">
    </div>
    <div class="col-md-8">
        The best Linux certified badass engineer the IDF has to offer. <br>
        Roi would rather play around with stocks than write python, but he had to finish his B.Sc. at some point. <br>
        He denies any involvement with ShassAro's BL. <br>
        PS- Roi is not his real name. It's actually 'Return Of Investment'. <br>
        <br>
        Supported functions: <br>
        - CreatePostush() <br>
        - OrderFood() <br>
    </div>
</div>

<div class="block col-md-8">
    <div class="block-title"> <h2><strong>Shay</strong> Scarlat</h2> </div>

    <div class="col-md-8">
        Badass engineer with no engineering functions at Websense. <br>
        Shay would rather drink Arak than write ShassAro challenges, but we left him no choice. <br>
        He denies any involvement with ShassAro's challenges. <br>
        <br>
        Supported functions: <br>
        - MakeCoffee() <br>
        - SpillBeer() <br>
    </div>
    <div class="col-md-2">
        <img class="img-resize" src="img/shay.jpg">
    </div>
</div>