<div class="block col-md-10">
    <div class="block-title"> <h2>What is <strong>ShassAro?</strong></h2> </div>
    Organizations today are starting to realize that the cyber security field is growing and evolving on a daily basis. <br>
    Each one of us holds at least one device that has access to the internet (cellphone, tablet, etc.). <br>
    Through that device we access our bank accounts, we share our private information with others, and more.<br>
    In addition, the software development process is becoming easier and accessible to all.<br>
    It is not rare to see a known brand’s website that was developed by a teen at the comfort of his own home.<br>
    <br>
    With these understandings, it is becoming clear that not only cyber security experts have to know about cyber security.<br>
    An important part of defending against cyber threats is to fully understand how they are done, and preferably, being able to perform such cyber-attacks yourself.<br>
    If one wants to start learning about cyber-attacks, he can use many online services which offer a learning environment that you can hack into.<br>
    These services include sites like “Hack.me” or “Hack This Site”.<br>
    <br>
    There are a couple of problems with all of these services:<br>
    <ol>
        <li>They only offer learning environments, with no real-time challenges.</li>
        <li>They only offer attack learning environments, with no defensive environments.</li>
    </ol>
    We offer an online, real-time solution that teaches and practice cyber security.<br>
    Our platform is open source and extensible, and offer real-time competition between two people.<br>
    This method creates an environment that enabled for a more “real life” experience, due to time constraints and stress, caused by the competition.<br>
    <br>
</div>