<div class="content-header content-header-media">
    <div class="header-section">
        <div class="row">
            <div class="col-md-4 col-lg-4 hidden-xs hidden-sm">
                <h1>Welcome <strong>MegaUser</strong><br><small>Do you feel like having a challenge today?</small></h1>
            </div>
            <div class="col-md-2 col-lg-2">
                <a href="page_ready_user_profile.php" class="widget-image-container animation-hatch">
                    <img src="http://gravatar.com/avatar/26ee46d586ed398204905ef5dab1f3a1" alt="avatar" class="widget-image img-circle">
                </a>
            </div>
            <div class="col-md-6 col-lg-6">
                <div class="row text-center">
                    <div class="col-xs-4 col-sm-3">
                        <h2 class="animation-hatch">
                            <strong>3</strong><br>
                            <small><i class="fa fa-star"></i> Games Today</small>
                        </h2>
                    </div>
                    <div class="col-xs-4 col-sm-3">
                        <h2 class="animation-hatch">
                            <strong>1</strong><br>
                            <small><i class="fa fa-thumbs-o-up"></i> Wins Today</small>
                        </h2>
                    </div>
                    <div class="col-xs-4 col-sm-3">
                        <h2 class="animation-hatch">
                            <strong>42</strong><br>
                            <small><i class="fa fa-gamepad"></i> Games Total</small>
                        </h2>
                    </div>
                    <div class="col-sm-3 hidden-xs">
                        <h2 class="animation-hatch">
                            <strong>83</strong>%<br>
                            <small><i class="fa fa-tachometer"></i> Wins Total</small>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img src="img/keyboard.jpg" alt="header image" class="animation-pulseSlow">
</div>

<div class="col-sm-6 col-lg-3">
    <a href="#/challenge" class="widget widget-hover-effect1">
        <div class="widget-simple">
            <img src="img/challenge.jpg" alt="avatar" class="widget-image img-circle pull-left">
            <h4 class="widget-content">
                <strong>Want a challage?</strong>
                <small>May the force be with you</small>
            </h4>
        </div>
    </a>
</div>

<div class="col-lg-9">
    <div class="block">
        <div class="block-title">
            <h2>Game <strong>Results</strong></h2>
        </div>

        <div class="table-responsive">
            <table class="table table-vcenter table-striped">
                <thead>
                <tr>
                    <th style="width: 150px;" class="text-center"><i class="gi gi-user"></i></th>
                    <th>Opponent name</th>
                    <th>Duration</th>
                    <th>Result</th>
                    <th>Experience gained</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="text-center"><img src="http://gravatar.com/avatar/26ee46d586ed398204905ef5dab1f3a1" alt="avatar" class="img-circle"></td>
                    <td>Roi Rav-Hon</td>
                    <td>43</td>
                    <td><img class="result-table-img" src="img/cup.png"></td>
                    <td>100</td>
                </tr>
                <tr>
                    <td class="text-center"><img src="http://gravatar.com/avatar/26ee46d586ed398204905ef5dab1f3a1" alt="avatar" class="img-circle"></td>
                    <td>Roi Rav-Hon</td>
                    <td>47</td>
                    <td><img class="result-table-img" src="img/ashamed.png"></td>
                    <td>0</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
