<div class="content-header content-header-media">
    <div class="header-section">
        <h1>
            <i class="fa fa-bar-chart-o"></i>Now, look what you've <strong>done</strong>.
        </h1>
    </div>

    <img src="img/stadium.jpg" alt="header image" class="animation-pulseSlow">
</div>

<div class="block">
    <div id="win" style="display: inherit">
        <h1 align="center">You won!</h1>
        <div align="center">
            <img class="result-img" src="img/cup.png">
        </div>
        <h3 align="center">Your mama must be fucking proud</h3>
    </div>
    <div id="lost" style="display: none">
        <h1 align="center">You lost!</h1>
        <div align="center">
            <img class="result-img" src="img/ashamed.png">
        </div>
        <h3 align="center">Somewhere around the world, because of you, a penguin is trying to learn .NET</h3>
    </div>
    <br>
    <div class="row result-fontsize">
        <div align="center">
            The game took <strong>42</strong> minutes <br>
            Your opponent has completed <strong>1</strong> goal(s) <br>
            You have gained <strong>100</strong> experience points! <br>
            This challenge included these tags: <strong>bash</strong>, <strong>tahat</strong>, <strong>tusik</strong><br>
            <br>
        </div>
    </div>
</div>