<div class="row" ng-if="dockerConnectionError==true">
    <div class="col-md-12 text-center">
        <h1>SHIT!</h1>
        <img src="img/happy-poop-emoticon-d76052797.png" width="150" alt=""/>
        <h2>We had serious problems getting your challenge up...</h2>
    </div>
</div>
<div class="row" ng-if="isConnected==false && dockerConnectionError == false;">
    <div class="col-md-12 text-center text-info" style="padding-top: 15%;">
        <div class="preloader-spinner"></div>
        <h2>Loading your environment</h2>
    </div>
</div>
<div class="row" ng-if="isConnected==true;">
    <div class="col-md-9" class="animation-fadeIn">
        <vnc ng-init="display = { scale:0.7, width: 860, fitTo:'width' };"
             host="{{vncHost}}" port="{{vncPort}}" password="{{vncPassword}}"
             is-connected="isConnected" display="display">
        </vnc>
    </div>
    <div class="col-md-3">
        <form novalidate class="form-horizontal">
            <div class="form-group-sm" ng-repeat="goal in goals track by $index">
                <label for="goal-{{$index}}" class="control-label">Goal {{$index+1}}</label>
                <div class="input-group">
                    <input type="text" ng-disabled="goal.completed" ng-class="goal.completed === true ? 'goal-completed' : 'goal-wrong'" ng-minlength="8" ng-change="verifyGoal(goal)" ng-model="goal.hash" id="goal-{{$index}}"
                           class="form-control" placeholder="Insert Goal #{{$index+1}} here..."/>
                    <span class="input-group-btn">
                        <button class="btn btn-sm btn-success" disabled ng-if="goal.completed"><span class="glyphicon glyphicon-check"></span></button>
                        <button class="btn btn-sm btn-default" ng-init="goal.hintCollapsed=true" ng-click="goal.hintCollapsed = !goal.hintCollapsed">
                            <span class="glyphicon glyphicon-info-sign"></span>
                        </button>
                        <button class="btn btn-sm btn-primary" ng-init="goal.descriptionCollapsed=true" ng-click="goal.descriptionCollapsed = !goal.descriptionCollapsed">
                            <span class="gi gi-lightbulb"></span>
                        </button>
                    </span>
                </div>
                <div collapse="goal.descriptionCollapsed">
                    <p><div class="alert alert-info small"><strong>Goal Hint:</strong> {{goal.hint}}</div></p>
                </div>
                <div collapse="goal.hintCollapsed">
                    <p><div class="alert alert-info small"><strong>Goal Description:</strong> {{goal.description}}</div></p>
                </div>
            </div>
            <div class="text-center">
                <br/>
                <button class="btn btn-xs btn-block btn-warning" ng-click="giveUp()"><span class="glyphicon glyphicon-flag"></span> Give up</button>
            </div>
            <hr/>
            <br/>
            <div class="widget">
                <div class="widget-advanced">
                    <!-- Widget Header -->
                    <div class="widget-header text-center">
                        <!-- For best results use an image with at least 150 pixels in height (with the width relative to how big your widget will be!) - Here I'm using a 1000x150 pixels image -->
                        <img src="img/superhacker_johnpetersen1.jpg" alt="background" class="widget-background animation-pulseSlow">
                        <h3 class="widget-content widget-content-image widget-content-light">
                            {{opponentDisplayName}}<br>
                            <small>{{opponentUsername}}</small>
                        </h3>
                    </div>
                    <!-- END Widget Header -->

                    <!-- Widget Main -->
                    <div class="widget-main">
                        <span class="widget-image-container animation-hatch">
                            <img gravatar-src-once="opponentMail" class="widget-image img-circle">
                        </span>
                        <div class="row text-center animation-fadeIn">
                            <div class="col-xs-6">
                                <h4><strong>{{opponentIP}}</strong><br><small>Ip</small></h4>
                            </div>
                            <div class="col-xs-6">
                                <h4>
                                    <span ng-repeat="goal in getOpponentGoalsCount() track by $index">
                                        <i class="gi gi-bomb text-danger animation-fadeInQuick"></i>
                                    </span>
                                    <strong></strong>
                                    <br><small>{{opponentGoalsCompleted}} Goals completed</small></h4>
                            </div>
                        </div>
                        <div class="row" style="padding: 10px;">

                        </div>
                    </div>
                    <!-- END Widget Main -->

                </div>
            </div>
            <timer  start-time="gameStartTime" end-time="gameEndTime" interval="1000">
                <div class="progress" style="margin-bottom: 3px;">
                    <div class="progress-bar progress-bar-striped active"
                         ng-class="{
                            'progress-bar-info': (100-progressBar) < 60,
                            'progress-bar-warning': (100-progressBar) >= 60 && (100-progressBar) < 85,
                            'progress-bar-danger': (100-progressBar) >= 85}"
                         role="progressbar" aria-valuenow="{{progress()}}"
                         aria-valuemin="0" aria-valuemax="100"
                         style="width: {{100-progressBar}}%;">
                    </div>
                </div>

            </timer>
            <timer end-time="gameEndTime">Remainig time: {{hhours}}:{{mminutes}}:{{sseconds}}</timer>
        </form>
    </div>
</div>