<div>
    <div class="container-fluid" ng-if="gameRequestError">
        <div class="text-center">
            <h1>OMG! THEY KILLED KENNY!</h1>
            <img src="img/kenny.png" alt="Kenny"/>
            <h3>Something went wrong with your game request, please try again :)</h3>
        </div>
    </div>
    <div class="container-fluid" ng-if="!gameRequestError">
        <h1 class="text-center">Challenge Accpeted!</h1>
        <hr/>
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="preloader-spinner"></div>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-4 col-md-push-4">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active"
                         ng-class="{'progress-bar-warning': currentStatus==statusNames[0],'progress-bar-info': currentStatus==statusNames[1],'progress-bar-success': currentStatus==statusNames[2]}"
                         role="progressbar" aria-valuenow="{{percentComplete}}"
                         aria-valuemin="0" aria-valuemax="100" style="width: {{percentComplete}}%;">
                        {{currentStep}}/3
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">

                <h4><i>"{{quote}}"</i></h4>
            </div>
        </div>
        <div ng-repeat="stepInfo in stepsInfo">
            <div class="col-md-10 col-md-push-1 text-primary">
                <h3 ng-class="{'text-warning':stepInfo.status == statusNames[0],'text-info':stepInfo.status == statusNames[1],'text-success':stepInfo.status == statusNames[2]}">
                    <span ng-switch="isCurrentStep(stepInfo)">
                        <span ng-switch-when="true" class="glyphicon glyphicon-unchecked"></span>
                        <span ng-switch-default="" class="glyphicon glyphicon-check"></span>
                    </span>
                    {{stepInfo.message}}
                </h3>
            </div>
        </div>
    </div>
</div>