<div class="content-header content-header-media">
    <div class="header-section">
        <h1>
            <i class="fa fa-bar-chart-o"></i>Now, look what you've <strong>done</strong>.
        </h1>
    </div>

    <img src="img/stadium.jpg" alt="header image" class="animation-pulseSlow">
</div>

<div class="block" ng-switch="userWon">
    <div id="win" ng-switch-when="true">
        <h1 align="center">You won!</h1>
        <div align="center">
            <img class="result-img" src="img/cup.png">
        </div>
        <h3 align="center">Your mama must be fucking proud</h3>
    </div>
    <div id="lost" ng-switch-default>
        <h1 align="center">You lost!</h1>
        <div align="center">
            <img class="result-img" src="img/ashamed.png">
        </div>
        <h3 align="center">Somewhere around the world, because of you, a penguin is trying to learn .NET</h3>
    </div>
    <br>
    <div class="row result-fontsize">
        <div align="center">
            The game took <strong>{{gameResult.actual_duration_minutes}}</strong> minutes <br>
            <span ng-if="userWon">
            You have gained <strong>{{gameResult.experience_gained}}</strong> experience points! <br>
                </span>
            This challenge included these tags: <strong ng-repeat="tag in gameTags">{{tag}}</strong>
            <!--<strong>bash</strong>, <strong>tahat</strong>, <strong>tusik</strong><br>-->
            <br>
        </div>
    </div>
</div>