<div id="login-container">
    <!-- Login Title -->
    <div class="login-title text-center">
        <h1>
            <img src="img/logos/favicon_transparent.png" alt="ShassAro" width="65" style="margin-top: -5px;"/>
             - Login
        </h1>
    </div>
    <!-- END Login Title -->


    <div collapse="!authenticationFailed" class="text-center small" style="background-color: white; margin: 0; padding: 7px;">
        <span class="text-danger"><b>Bad username or password</b> - Please try again.</span>
    </div>

    <!-- Login Block -->
    <div class="block">
        <!-- Login Form -->
        <form ng-submit="tryLogin()" id="form-login" class="form-horizontal form-bordered form-control-borderless">
            <div class="form-group">
                <div class="col-xs-12">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="gi gi-user"></i></span>
                        <input type="text" ng-model="username" ng-required class="form-control input-lg" placeholder="Username">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="gi gi-asterisk"></i></span>
                        <input type="password" ng-model="password" ng-required class="form-control input-lg" placeholder="Password">
                    </div>
                </div>
            </div>
            <div class="form-group form-actions">
                <div class="col-xs-12 text-center">
                    <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-user"></i> Login</button>
                </div>
            </div>
        </form>
        <!-- END Login Form -->
    </div>
    <!-- END Login Block -->
</div>