<div class="content-header content-header-media">
    <div class="header-section">
        <h1>
            <i class="fa fa-info"></i>ShassAro<br><small>Hack Your Friends</small>
        </h1>
    </div>

    <img src="img/board.jpg" alt="header image" class="animation-pulseSlow">
</div>

<div class="block block-alt-noborder">
    <div class="row">
        <div class="col-md-5 col-lg-5">

            <img class="shassaro-img" src="img/logos/logo_shassaro_no_slogan_transparent.png">
            <br>
            <div class="homepage-fontsize">
                Online, real-time cyber security platform. <br>
                Challenge yourself and your friends in live hacking challenges. <br>
                Defend, attack, have fun. <br>
                May the best one wins. <br>
            </div>
        </div>
        <div class="col-md-6 col-lg-6 col-lg-offset-1">
            <h3 class="sub-header"><strong>FAQ</strong></h3>
            <div id="faq1" class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"><i class="fa fa-angle-right"></i> <a class="accordion-toggle collapsed" data-toggle="collapse"  ng-click="faq1 = !faq1">What is ShassAro?</a></h4>
                    </div>
                    <div id="faq1_q1" class="panel-collapse collapse" collapse="!faq1" style="height: 0px;">
                        <div class="panel-body">
                            ShassAro is an Open Source Web application that lets you train your cyber security abilities!
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"><i class="fa fa-angle-right"></i> <a class="accordion-toggle collapsed" data-toggle="collapse" ng-click="faq2 = !faq2">Who is it for?</a></h4>
                    </div>
                    <div id="faq1_q2" class="panel-collapse collapse" collapse="!faq2">
                        <div class="panel-body">
                            Everyone!<br>
                            Well, you need to have some basic hacking training and linux skills to help you get started.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"><i class="fa fa-angle-right"></i> <a class="accordion-toggle collapsed" data-toggle="collapse" ng-click="faq3 = !faq3">Who built it?</a></h4>
                    </div>
                    <div id="faq1_q3" class="panel-collapse collapse" collapse="!faq3">
                        <div class="panel-body">
                            ShassAro was build as a graduate project for a Computer Science Bsc in the Collage Of Management of Academic Studies.<br>
                            And was built by Assaf Aloni, Roi Rav-Hon and Shay Scarlat. More about us <a href="#/aboutUs">here</a>.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"><i class="fa fa-angle-right"></i> <a class="accordion-toggle collapsed" data-toggle="collapse" ng-click="faq4 = !faq4">How does it work?</a></h4>
                    </div>
                    <div id="faq1_q4" class="panel-collapse collapse" collapse="!faq4">
                        <div class="panel-body">
                            Well, that the awesome part.<br>
                            You and your opponent each get a Linux container (based on Docker).<br>
                            Each container then customized using Puppet to be unique to you, and only to you.<br>
                            After that, you start to have fun :-)
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"><i class="fa fa-angle-right"></i> <a class="accordion-toggle collapsed" data-toggle="collapse" ng-click="faq5 = !faq5">Open Source?!</a></h4>
                    </div>
                    <div id="faq1_q5" class="panel-collapse collapse" collapse="!faq5">
                        <div class="panel-body">
                            Yep.<br>
                            And we are glad to accept any contribution.<br>
                            Either code, tests, bug reports or feature requests.<br>
                            We are on <a href="https://github.com/ShassAro/ShassAro">GitHub</a>.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>